body {
 background: #000;
 color: #fff;
 font-family: Consolas, monospace;
 line-height: 1.5;
 margin: 2rem auto;
 overflow-x: hidden;
 max-width: 720px;
}

a {
 color: #ABFFCF;
 text-decoration: none;
}
a:hover { filter: brightness(1.2); }
a:active { filter: brightness(0.8); }

h1 {
 text-wrap: balance;
 margin: 0.0rem 0 0.2rem 0;
 font-size: 2.0rem;
 font-weight: bold;
}

h2 {
 text-wrap: balance;
 margin: 1.0rem 0 0.2rem 0;
 font-size: 1.4em;
 font-weight: bold;
}

h3 {
 text-wrap: balance;
 font-size: 1.0em;
 font-style: italic;
 font-weight: normal;
 color: #fff;
 margin: 0;
}

b {
 color: #FEF0E0;
}


code {
 // text-wrap: balance;
 font-size: 1.0rem;
 color: #abffcf;
 background: #23342b;
}

img {
 max-width: 100%;
 border: 1px solid #666;
}

